.slider{
  
  &__img{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  
  &__image{
    border-radius: 250px 0 0 250px;
    width: 925px;
    height: 500px;
    opacity: 0.3;
  }
  &__content{
    position: absolute;
    max-width: 48%;
    top: 118px;
    margin-left: 80px;
  }
  &__title{
    font-size: 48px;
    color: var(--bluetitle) ;
    padding-right: 110px;
    line-height: 55px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
  }
  &__paragraph{
    color: var(--bluetext) ;
    font-size: 30px;
    line-height: 34px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
  }
  
}
