.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    
    &__text{
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        color: var(--quote_text);
        margin-top: 47px;
        text-align: center;
        width: 736px;
        height: 68px;
    }

    &__author{
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: var(--quote_author);
        margin-top:24px;
        margin-bottom: 39px;
    }
}
 