* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.container__video {
    padding: 80px 80px 88px 83px;
}

.info-video__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.info-video__paragraph {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.paragraph__title--text{
    @include fontStyle_video(#577598, 24px, bold);
    margin-bottom: 20px;
}

.paragraph__text--paragraph {
    @include fontStyle_video(#8894B4, 24px, normal);
    max-width: 518px;
}

.video-section {
    align-self: center;
    margin-left: 25px;
}

.video-section__content {
    width: 100%;
    border-radius: 8px;
}

@media (min-width: 576px) and (max-width: 768px){
    .info-video__section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 23px;
    }
    .video-section{
        margin: auto;
    }
}

@media (min-width: 576px) and (max-width: 992px){
    .info-video__paragraph { 
        text-align: justify;
    }

    .paragraph__title--text, .paragraph__text--paragraph {
        font-size: 20px;
        max-width: max-content;
    }
} 