:root {
  --black: #000000;
  --red: #e60012;
  --white: #ffffff;
  --quote_text:#577598;
  --quote_author:#8894B4;
  --footer_button:#F6BF42;
  --button_content:#2C8EFF;
  --footer_background:#002D62;
  --gray: #8894b4;
}

