:root {
  --black: #000000;
  --red: #e60012;
  --white: #ffffff;
  --waikawa-gray: #577598;
  --cool-gray: #8894B4;
  --alice-blue: #F5F9FF;
  --gray-shadow: rgba(0, 0, 0, 0.25);
  --dodger-blue: #2C8EFF;
  --gray90: #E5E5E5;
  --casablanca: #F6BF42;
  --quote_text:#577598;
  --quote_author:#8894B4;
  --footer_button:#F6BF42;
  --button_content:#2C8EFF;
  --footer_background:#002D62;
  --gray: #8894b4;
}
