* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--white);
    padding: 31px 80px 31px 90px;
}

li, a, .btn {
    @include fontStyle(#2c8eff, 16px);
    line-height: 18px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-top: -3px;
    width: 41.2px;
    height: 44.47px;
}

.logo p {
    @include fontStyle(#002D62, 14px);
    line-height: 16px;
    margin-left: 12.8px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.nav__links {
    list-style: none;

    li {
        display: inline-block;
        padding-left: 30px;
    }

    li .btn {
        background-color: #F6BF42;
        padding: 11px 42px;
        border-radius: 30px;
        cursor: pointer;
        border: var(--white);
    }
}