.team {
    background-color: var(--white);


    &__heading {
        @include fontStyle(var(--waikawa-gray), 24px);
        line-height: 28px;
        padding: 5.6rem 5.2rem 2.3rem 5.2rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5.2rem 2.3rem 5.2rem;
        margin-left: 0;

        @include breakpoint('md') {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            grid-gap: 2.7rem 2rem;
        }

        @include breakpoint('lg') {
            grid-template-columns: repeat(3, 1fr);
        }

        @include breakpoint('xl') {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__card {
        background: var(--white);
        box-shadow: 0 4px 4px var(--gray-shadow);
        border-radius: 16px;
        max-width: 360px;
        min-height: 440px;
        //margin: 2rem 3rem 2rem 0;
        
        &--centered-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        width: 100%;
        height: 230px;
        border-radius: 16px 16px 0 0;
        object-fit: fill;
    }

    &__title {
        @include fontStyle(var(--waikawa-gray), 20px);
        line-height: 23px;
        padding: 2.2rem 1.5rem .5rem 1.5rem;
        width: 100%;
    }

    &__subtitle {
        @include fontStyle(var(--cool-gray), 14px);
        line-height: 16px;
        padding: 0 1.5rem 1rem 1.5rem;
    }

    &__description {
        @include fontStyle(var(--cool-gray), 16px);
        font-weight: normal;
        line-height: 18px;
        padding: 0 1.563rem 1.8rem 1.563rem;
        align-self: center;
    }

    &__cta {
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontStyle(var(--dodger-blue), 16px);
        @extend %button;
        padding: 0.8rem 2.2rem;
        margin-top: 1.6rem;
    }
}