<section class="allies">
    <h2>{{alliesTitle}}</h2>
    <div class="single">
        <img src={{assetSrc pygmalionLogo}} alt="Logo de Pygmalion">
    </div>
    <div class="single">
        <img src={{alliesLogos}} alt="Logo de Pygmalion">
    </div>
</section>