<section class="allies">
    <h2>{{alliesTitle}}</h2>
    
    <div class="allies_logos">
        {{#each alliesLogos}}
            <img src="image/{{Assets}}.png">
        {{/each}}
    </div>
    
</section>