    <header class="header component">
        <div class="header__logo">
            <img src={{assetSrc robot}} alt="">
            <p>{{item1_header}}</p>
        </div>

        <nav>
            <ul class="header__links">
                <li><a href="#">NUESTRO TRABAJO</a></li>
                <li><a href="#">APRENDAMOS</a></li>
                <li><a href="#">DOCUMENTOS</a></li>
                <li><a href="#"><button class="header__btn">DONACIONES</button></a></li>
            </ul>
        </nav>
    </header>
