    <header class="header component">
        <div class="header__logo">
            <img class="header__image" src={{assetSrc robot}} alt="">
            <p class="header__title">{{item1_header}}</p>
        </div>
        <nav>
            <ul class="header__links">
            {{#each navLinks}}
                <span class="header__item">
                {{{module this}}}
                </span>
            {{/each}}
            </ul>
            <div>
                <span class="icon burger__icon">☰</span>
            </div>
        </nav>
        <div class="header__menu">
            <ul class="links__menu">
                {{#each navLinks}}
                    {{{module this}}}
                {{/each}}
            </ul>
            <span class="icon close__icon">✕</span>
        </div>
    </header>
