    <header class="header component">
        <div class="header__logo">
            <img class="header__image" src={{assetSrc robot}} alt="">
            <p>{{item1_header}}</p>
        </div>
        <nav>
            <ul class="header__links">
            {{#each navLinks}}
                <span class="header__item">
                {{{module this}}}
                </span>
            {{/each}}
            </ul>
        </nav>
    </header>
