    <header>
        <div class="logo">
            <img src={{assetSrc robot}} alt="">
            <p>{{item1_header}}</p>
        </div>

        <nav>
            <ul class="nav__links">
                <li><a href="#">NUESTRO TRABAJO</a></li>
                <li><a href="#">APRENDAMOS</a></li>
                <li><a href="#">DOCUMENTOS</a></li>
                <li><button class="btn">DONACIONES</button></li>
            </ul>
        </nav>

    </header>
