<div class="slider__component">
  <div class="slider__content">
    <h2 class="slider__title">{{title}}</h2>
    <p class="slider__paragraph">{{description}}</p>
  </div>
  <div class="slider__img">
    <img class="slider__image" src="{{{assetSrc image}}}" alt="{{altText}}">
  </div>
</div>  