<div class="carousel component">
  <div class="slider">
  {{#each slides}}
    {{{module this}}}
  {{/each}}
  </div>
  <div class="dots-list">
    <button class="dot-button active"></button>
    <button class="dot-button"></button>
  </div>
</div>