<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Card component</title>
    <link rel="stylesheet" href="../src/scss/layout/_home-projects.scss">
</head>

<body>
    <section class="projects">
        <article class="projects-card">
            <img class="project-img" src="https://picsum.photos/411/230" alt="random robotics-related image">
            <h4 class="project-title">Escuela de Robótica</h4>
            <p class="project-descr">Formar capital humano y fortalecer conocimientos en áreas de incidencia en el desarrollo social y económico del pacífico colombiano (Ciencia, Tecnología, Ingeniería, Matemáticas), aplicables a la solución de problemáticas de contexto local y global.</p>
        </article>
        <article class="projects-card">
            <img class="project-img" src="https://picsum.photos/411/230" alt="random robotics-related image">
            <h4 class="project-title">Escuela de Robótica</h4>
            <p class="project-descr">Formar capital humano y fortalecer conocimientos en áreas de incidencia en el desarrollo social y económico del pacífico colombiano (Ciencia, Tecnología, Ingeniería, Matemáticas), aplicables a la solución de problemáticas de contexto local y global.</p>
        </article>
        <article class="projects-card">
            <img class="project-img" src="https://picsum.photos/411/230" alt="random robotics-related image">
            <h4 class="project-title">Escuela de Robótica</h4>
            <p class="project-descr">Formar capital humano y fortalecer conocimientos en áreas de incidencia en el desarrollo social y económico del pacífico colombiano (Ciencia, Tecnología, Ingeniería, Matemáticas), aplicables a la solución de problemáticas de contexto local y global.</p>
        </article>
    </section>
</body>