<section class="lets-learn component">
    <aside class="lets-learn__sidebar">
        <h3 class="sidebar__title">{{titleCategories}}</h3>
        <ul id="sidebar__categories"></ul>
        <select id="sidebar__dropdown"></select>
    </aside>
    <section class="lets-learn__container">
        <h3 class="container__title">{{titleVideos}}</h3>
        <section class="lets-learn__cards">
            {{#each letsLearnCards}}
            {{{module this}}}
            {{/each}}
        </section>
    </section>
</section>