<article class="lets-learn__card">
    <video class="card__video" controls="controls">
        <source src="{{assetSrc video}}" type="video/mp4">
    </video>
    <p class="card__title">{{title}}</p>
    <p class="card__description ">{{description}}</p>
    <div class="card__footer">
        <i class="far fa-file-pdf footer__icon"></i>
        <a class="footer__link" href="#">{{link}}</a>
    </div>
</article>