<article class="projects__card">
    <img class="projects__image" src="{{assetSrc image}}">
    <p class="projects__title">{{title}}</p>
    <p class="projects__description">{{description}}</p>
</article>