<quote class="quote">

    <div class="quote__section">
        <p class="quote__text">{{quoteText}}</p>
    </div>

    <div class="quote__section">
        <p class="quote__author">{{quoteAuthor}}</p>
    </div>

</quote>
