<article class="team__card">
    <img class="team__image" src="{{assetSrc image}}">
    <p class="team__title">{{title}}</p>
    <p class="team__subtitle">{{subtitle}}</p>
    <p class="team__description">{{description}}</p>
</article>


